<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Window size="500,330" mininfo="800,500" maxinfo="800,500" caption="0,0,0,1" sizebox="0,0,0,0">
    <Include source="scrollbar.xml" />
    <Font shared="true" id="0" name="微软雅黑" size="16" bold="false" />
	<Font shared="true" id="0" name="微软雅黑" size="16" bold="false" />
    <Font shared="true" id="2" name="微软雅黑" size="28" bold="true" />
    <Default shared="true" name="Slider" value="thumbsize=&quot;37,48&quot; bkimage=&quot;file='image\slider\bg.png' corner='6,0,6,0'&quot; foreimage=&quot;file='image\slider\bg.png' corner='6,0,6,0' &quot; thumbimage=&quot;file='image\slider\thumb.png' source='0,0,197,255' &quot; thumbhotimage=&quot;file='image\slider\thumb.png' source='0,0,197,255' &quot; " />
	<HorizontalLayout bkcolor="FF595959#" bordersize="1" bordercolor="#FF707070"> <!--整个窗口-->
        <VerticalLayout width="120" bkcolor="FFFFD966#" bordersize="1" bordercolor="#FF707070"> <!--左侧列表-->
            <HorizontalLayout>
                <VerticalLayout width="10" />
                <VerticalLayout>
                    <HorizontalLayout height="5" />
                    <Option name="resolution" text="分辨率" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab" selected="true"/> 
                    <Option name="record" text="录像选项" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab"/> 
                    <Option name="video" text="视频设置" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab"/> 
                    <Option name="camera" text="摄像机设置" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab"/> 
                    <Option name="language" text="语言设置" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab"/> 
                    <Option name="time" text="时间设置" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab"/> 
                    <Option name="recover" text="恢复设置" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" group="contenttab"/> 
                    <Button name="theclosebtn" text="关  闭" width="100" height="40" font="0" textcolor="FFFFFFFF#" bkimage="file='image\option_bk_normal2.png'" selectedimage="file='image\option_bk_hot2.png'" />
                    <HorizontalLayout height="5" />
                </VerticalLayout>
                <VerticalLayout width="10" />
           </HorizontalLayout>
        </VerticalLayout>
        
        <VerticalLayout> <!--内容-->
            <HorizontalLayout name="container" >
                <TabLayout name="options">
                    <VerticalLayout> <!--分辨率-->
                        <HorizontalLayout height="5" />
                        <HorizontalLayout height="30"  ><!--标题栏-->
                            <VerticalLayout width="50" />
                            <Label name="tab_resolution" text="分辨率" font="0" align="center" valign="center" textcolor="FFFFFFFF#" />
                            <VerticalLayout width="10" />
                            <Label name="tab_format" text="格式" font="0" align="center" valign="center" textcolor="FFFFFFFF#" />
                            <VerticalLayout width="50" />
                        </HorizontalLayout>
                        
                        <HorizontalLayout height="5" />
                        <HorizontalLayout>
                            <VerticalLayout width="50" />
                            <VerticalLayout name="resolutions" vscrollbar="true"  >
                            </VerticalLayout>
                            <VerticalLayout width="25" />
                            <VerticalLayout name="cap_mode">
                            </VerticalLayout>
                            <VerticalLayout width="50" />
                        </HorizontalLayout>
                        <HorizontalLayout height="5" />
                    </VerticalLayout>
                    <VerticalLayout> <!--录像选项-->
                        <HorizontalLayout height="60" />
                        <Label name="lable_rec_time" text="时长（值）" font="0" align="center" valign="center" textcolor="#FFFFFFFF"  />
                        <HorizontalLayout height="20" />
                        <HorizontalLayout>
                            <VerticalLayout width="20" />
                            <VerticalLayout >
                                <HorizontalLayout height="15" />
                                <HorizontalLayout height="25">
                                    <VerticalLayout width="25" />
                                    <Label text="max" font="0" align="center" valign="center" textcolor="#FF000000"  />
                                    <VerticalLayout width="100"/>
                                    <Label text="60min" font="0" align="center" valign="center" textcolor="#FF000000"  />
                                    <VerticalLayout width="25" />
                                </HorizontalLayout>
                                <HorizontalLayout height="15" />
                                <HorizontalLayout>
                                    <VerticalLayout width="5" />
                                    <Button name="rec_time_dec" width="53" height="45" normalimage="file='image\slider\left.png'" />
                                    <VerticalLayout width="5" />
                                    <VerticalLayout>
                                        <HorizontalLayout height="1" />
                                        <Slider name="rec_time" min="0" max="60" step="1" height="48" valign="center" />
                                        <HorizontalLayout height="1" />
                                    </VerticalLayout>
                                    <VerticalLayout width="5" />
                                    <Button name="rec_time_inc" width="53" height="45" normalimage="file='image\slider\right.png'" />
                                    <VerticalLayout width="5" />
                                </HorizontalLayout>
                                <HorizontalLayout height="25" >
                                    <Label name="rec_time_text" text="33" font="0" align="center" valign="center" textcolor="#FF000000"  />
                                </HorizontalLayout>
                                <HorizontalLayout height="15"/>
                            </VerticalLayout>
                            <VerticalLayout width="20" />
                        </HorizontalLayout>
                        <HorizontalLayout height="80"/>
                    </VerticalLayout>
                    <VerticalLayout> <!--视频设置-->                      
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Option name="brightness" text="亮度" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                            <Option name="contrast" text="对比度" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                            <Option name="hue" text="色调" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Option name="saturation" text="饱和度" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                            <Option name="sharpness" text="清晰度" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                            <Option name="gamma" text="伽马" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Option name="white_balance" text="白平衡" endellipsis="true" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                            <Option name="backlight" text="逆光对比" endellipsis="true" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                            <Option name="gain" text="增益" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="video"/>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Button name="" enabled="false" text="" font="0"  />
                            <VerticalLayout width="25" />
                            <Button name="" enabled="false" text="" font="0"  />
                            <VerticalLayout width="25" />
                            <Button name="reset_video" text="恢复默认" font="0" bkimage="file='image\option_bk_normal.png'" group="video" />
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="5" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <VerticalLayout height="45" >
                                <HorizontalLayout height="45">
                                    <VerticalLayout width="5" />
                                    <Button name="video_dec" width="45" height="45" normalimage="file='image\slider\left.png'" />
                                    <VerticalLayout width="5" />
                                    <VerticalLayout>
                                        <HorizontalLayout height="1" />
                                        <Slider name="video_slider" min="0" max="5" step="1" height="43" valign="center"  />
                                        <HorizontalLayout height="1" />
                                    </VerticalLayout>
                                    <VerticalLayout width="5" />
                                    <Button name="video_inc" width="45" height="45" normalimage="file='image\slider\right.png'" />
                                    <VerticalLayout width="5" />
                                </HorizontalLayout>
                            </VerticalLayout>
                            <VerticalLayout width="80">
                                <HorizontalLayout height="5" />
                                <Option name="video_auto" text="自动" enabled="false" width="80" height="35" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" />
                                <HorizontalLayout height="5" />
                            </VerticalLayout>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="20">
                            <VerticalLayout width="60" />
                            <Label name="video_min" text="0" font="0" align="left" valign="center" textcolor="#FFFFFFFF"  />
                            <VerticalLayout width="50" />
                            <Label name="video_val" text="10" font="0" align="center" valign="center" textcolor="#FFFFFFFF"  />
                            <VerticalLayout width="50" />
                            <Label name="video_max" text="256" font="0" align="right" valign="center" textcolor="#FFFFFFFF"  />
                            <VerticalLayout width="130" />
                        </HorizontalLayout>
                        <HorizontalLayout height="5" />
                    </VerticalLayout>
                    <VerticalLayout> <!--摄像机设置-->                       
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Option name="zoom" text="缩放" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                            <Option name="focus" text="焦点" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                            <Option name="exposure" text="曝光" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Option name="iris" text="光圈" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                            <Option name="pan" text="全景" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                            <Option name="tilt" text="倾斜" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Option name="roll" text="滚动" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera"/>
                            <VerticalLayout width="25" />
                            <Button name="" enabled="false" text="" font="0"  />
                            <VerticalLayout width="25" />
                            <Button name="reset_camera" text="恢复默认" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="camera" />
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="5" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <Button name="" enabled="false" text="" font="0"  />
                            <VerticalLayout width="25" />
                            <Button name="" enabled="false" text="" font="0"  />
                            <VerticalLayout width="25" />
                            <Button name="" enabled="false" text="" font="0"  />
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="25" />
                        <HorizontalLayout>
                            <VerticalLayout width="25" />
                            <VerticalLayout height="45" >
                                <HorizontalLayout height="45">
                                    <VerticalLayout width="5" />
                                    <Button name="camera_dec" width="45" height="45" normalimage="file='image\slider\left.png'" />
                                    <VerticalLayout width="5" />
                                    <VerticalLayout>
                                        <HorizontalLayout height="1" />
                                        <Slider name="camera_slider" min="0" max="5" step="1" height="43" valign="center" />
                                        <HorizontalLayout height="1" />
                                    </VerticalLayout>
                                    <VerticalLayout width="5" />
                                    <Button name="camera_inc" width="45" height="45" normalimage="file='image\slider\right.png'" />
                                    <VerticalLayout width="5" />
                                </HorizontalLayout>
                            </VerticalLayout>
                            <VerticalLayout width="80">
                                <HorizontalLayout height="5" />
                                <Option name="camera_auto" text="自动" enabled="false" width="80" height="35" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" />
                                <HorizontalLayout height="5" />
                            </VerticalLayout>
                            <VerticalLayout width="25" />
                        </HorizontalLayout>
                        <HorizontalLayout height="20">
                            <VerticalLayout width="60" />
                            <Label name="camera_min" text="0" font="0" align="left" valign="center" textcolor="#FFFFFFFF"  />
                            <VerticalLayout width="50" />
                            <Label name="camera_val" text="10" font="0" align="center" valign="center" textcolor="#FFFFFFFF"  />
                            <VerticalLayout width="50" />
                            <Label name="camera_max" text="256" font="0" align="right" valign="center" textcolor="#FFFFFFFF"  />
                            <VerticalLayout width="130" />
                        </HorizontalLayout>
                        <HorizontalLayout height="5" />
                    </VerticalLayout>
                    <VerticalLayout> <!--语言设置-->                        
                        <HorizontalLayout height="100" />
                        <HorizontalLayout>
                            <VerticalLayout width="120" />
                            <VerticalLayout>
                            <Option name="chinese" text="中文 Chinese" align="center" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'"  group="language" />
                            <HorizontalLayout height="50" />
                            <Option name="english" text="英文 English" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'"  group="language" />
                            </VerticalLayout>
                            <VerticalLayout width="140" />
                        </HorizontalLayout>
                    </VerticalLayout>
                    <VerticalLayout> <!--时间设置-->                       
                        <HorizontalLayout height="40" />
                        <HorizontalLayout>
                            <VerticalLayout  />
                            <Button name="inc_time" font="0" width="47" height="40" bkimage="file='image\up.png'" />
                            <VerticalLayout  />
                        </HorizontalLayout>
                        <HorizontalLayout height="10" />
                        <HorizontalLayout>
                            <VerticalLayout width="50" />
                            <Option name="year" selected="true" text="2017年" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="time" />
                            <VerticalLayout width="25" />
                            <Option name="month" text="05月" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="time" />
                            <VerticalLayout width="25" />
                            <Option name="day" text="26日" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="time" />
                            <VerticalLayout width="50" />
                        </HorizontalLayout>
                        <HorizontalLayout height="10" />
                        <HorizontalLayout>
                            <VerticalLayout width="50" />
                            <Option name="hour" text="13时" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="time" />
                            <VerticalLayout width="25" />
                            <Option name="minute" text="37分" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="time" />
                            <VerticalLayout width="25" />
                            <Option name="second" text="47秒" font="0" bkimage="file='image\option_bk_normal.png'" selectedimage="file='image\option_bk_hot.png'" group="time" />
                            <VerticalLayout width="50" />
                        </HorizontalLayout>
                        <HorizontalLayout height="15" />
                        <HorizontalLayout>
                            <VerticalLayout  />
                            <Button name="dec_time" font="0" width="47" height="40" bkimage="file='image\down.png'" />
                            <VerticalLayout  />
                        </HorizontalLayout>
                        <HorizontalLayout height="10" />
                        <HorizontalLayout>
                            <VerticalLayout width="50" />
                            <Button enabled="false" />
                            <VerticalLayout width="25" />
                            <Button enabled="false" />
                            <VerticalLayout width="25" />
                            <Button name="apply_time" text="应用" font="0" width="80" bkimage="file='image\option_bk_normal.png'"  />
                            <VerticalLayout width="50" />
                        </HorizontalLayout>
                        <HorizontalLayout height="10" />
                    </VerticalLayout>
                    <VerticalLayout> <!--恢复设置-->                        
                        <HorizontalLayout height="100" />
                        <Label name="reset_confirm" text="恢复出厂设置？" font="0" align="center" valign="center" textcolor="#FFFFFFFF"  />
                        <HorizontalLayout height="20" />
                        <HorizontalLayout>
                            <VerticalLayout width="80" />
                            <Button name="reset_ok" text="确定" font="0" bkimage="file='image\option_bk_normal.png'"  />
                            <VerticalLayout width="50" />
                            <Button name="reset_cancel" text="取消" font="0" bkimage="file='image\option_bk_normal.png'" />
                            <VerticalLayout width="80" />
                        </HorizontalLayout>
                        <HorizontalLayout height="150" />
                    </VerticalLayout>
                </TabLayout>
            </HorizontalLayout>
            <HorizontalLayout height="5" />
        </VerticalLayout>
	</HorizontalLayout>
</Window>




















